CONFIG = {
    'HOME': {
        'SSID': 'HomeNET',
        'PASSWORD': '12345678',
        'MQTT_BROKER': '192.168.10.11',
        'MQTT_PORT': 1883,
        'MQTT_PASSWORD': 'Very$ecurePassw0rd1',
        'SLEEP_TIME': 60
    },
    'REMOTE': {
        'SSID': 'SkyNET',
        'PASSWORD': '12345678',
        'MQTT_BROKER': 'mydomain.com',
        'MQTT_PORT': 23156,
        'MQTT_PASSWORD': 'Very$ecurePassw0rd2',
        'SLEEP_TIME': 300
    }
}